$primary-color: #cd9107;
$secondary-color: #cd1c07;

$tertiary-color: #59947c;
$quaternary-color: #171a90;

$poke-font: 'Press Start 2P', cursive;

@mixin hover {
    hover {
        background: red;
    }
}